<a href="https://colab.research.google.com/github/suleimanalialsaif/Bitcoin-Ransomware-Prediction/blob/main/RansomwareBitcoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #load and summarize the dataset
import pandas as pd
#load the dataset 
BH=pd.read_csv('BitcoinHeistData.csv',delimiter=',')
#summarize the dataset ²²
print(BH.describe())
nRow,nCol=BH.shape
print(f'there are {nRow} rows and {nCol} Colums')
BH.head(10)

               year           day        length        weight         count  \
count  2.916697e+06  2.916697e+06  2.916697e+06  2.916697e+06  2.916697e+06
mean   2.014475e+03  1.814572e+02  4.500859e+01  5.455192e-01  7.216446e+02
std    2.257398e+00  1.040118e+02  5.898236e+01  3.674255e+00  1.689676e+03
min    2.011000e+03  1.000000e+00  0.000000e+00  3.606469e-94  1.000000e+00
25%    2.013000e+03  9.200000e+01  2.000000e+00  2.148438e-02  1.000000e+00
50%    2.014000e+03  1.810000e+02  8.000000e+00  2.500000e-01  1.000000e+00
75%    2.016000e+03  2.710000e+02  1.080000e+02  8.819482e-01  5.600000e+01
max    2.018000e+03  3.650000e+02  1.440000e+02  1.943749e+03  1.449700e+04

             looped     neighbors        income
count  2.916697e+06  2.916697e+06  2.916697e+06
mean   2.385067e+02  2.206516e+00  4.464889e+09
std    9.663217e+02  1.791877e+01  1.626860e+11
min    0.000000e+00  1.000000e+00  3.000000e+07
25%    0.000000e+00  1.000000e+00  7.428559e+07
50%    0.000000e+00  2.000000e+00  1.999985e+08
75%    0.000000e+00  2.000000e+00  9.940000e+08
max    1.449600e+04  1.292000e+04  4.996440e+13
there are 2916697 rows and 10 Colums

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,8.333333e-03,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,2.441406e-04,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000e+00,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,3.906250e-03,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,7.284841e-02,456,0,1,200000000.0,princetonLocky
5,112AmFATxzhuSpvtz1hfpa3Zrw3BG276pc,2016,96,144,8.461400e-02,2821,0,1,50000000.0,princetonLocky
6,112E91jxS2qrQY1z78LPWUWrLVFGqbYPQ1,2016,225,142,2.088519e-03,881,0,2,100000000.0,princetonCerber
7,112eFykaD53KEkKeYW9KW8eWebZYSbt2f5,2016,324,78,3.906250e-03,1,0,2,100990000.0,princetonCerber
8,112FTiRdJjMrNgEtd4fvdoq3TC33Ah5Dep,2016,298,144,2.302828e+00,4220,0,2,80000000.0,princetonCerber
9,112GocBgFSnaote6krx828qaockFraD8mp,2016,62,112,3.725290e-09,1,0,1,50000000.0,princetonLocky

In [ ]:
for i in range(len(BH.index)) :
    print(" Total NaN in row", i + 1, ":",
          BH.iloc[i].isnull().sum())

Streaming output truncated to the last 5000 lines.
 Total NaN in row 2911698 : 0
 Total NaN in row 2911699 : 0
 Total NaN in row 2911700 : 0
 Total NaN in row 2911701 : 0
 Total NaN in row 2911702 : 0
 Total NaN in row 2911703 : 0
 Total NaN in row 2911704 : 0
 Total NaN in row 2911705 : 0
 Total NaN in row 2911706 : 0
 Total NaN in row 2911707 : 0
 Total NaN in row 2911708 : 0
 Total NaN in row 2911709 : 0
 Total NaN in row 2911710 : 0
 Total NaN in row 2911711 : 0
 Total NaN in row 2911712 : 0
 Total NaN in row 2911713 : 0
 Total NaN in row 2911714 : 0
 Total NaN in row 2911715 : 0
 Total NaN in row 2911716 : 0
 Total NaN in row 2911717 : 0
 Total NaN in row 2911718 : 0
 Total NaN in row 2911719 : 0
 Total NaN in row 2911720 : 0
 Total NaN in row 2911721 : 0
 Total NaN in row 2911722 : 0
 Total NaN in row 2911723 : 0
 Total NaN in row 2911724 : 0
 Total NaN in row 2911725 : 0
 Total NaN in row 2911726 : 0
 Total NaN in row 2911727 : 0
 Total NaN in row 2911728 : 0
 Total NaN in row 2911729 : 0
 Total NaN in row 2911730 : 0
 Total NaN in row 2911731 : 0
 Total NaN in row 2911732 : 0
 Total NaN in row 2911733 : 0
 Total NaN in row 2911734 : 0
 Total NaN in row 2911735 : 0
 Total NaN in row 2911736 : 0
 Total NaN in row 2911737 : 0
 Total NaN in row 2911738 : 0
 Total NaN in row 2911739 : 0
 Total NaN in row 2911740 : 0
 Total NaN in row 2911741 : 0
 Total NaN in row 2911742 : 0
 Total NaN in row 2911743 : 0
 Total NaN in row 2911744 : 0
 Total NaN in row 2911745 : 0
 Total NaN in row 2911746 : 0
 Total NaN in row 2911747 : 0
 Total NaN in row 2911748 : 0
 Total NaN in row 2911749 : 0
 Total NaN in row 2911750 : 0
 Total NaN in row 2911751 : 0
 Total NaN in row 2911752 : 0
 Total NaN in row 2911753 : 0
 Total NaN in row 2911754 : 0
 Total NaN in row 2911755 : 0
 Total NaN in row 2911756 : 0
 Total NaN in row 2911757 : 0
 Total NaN in row 2911758 : 0
 Total NaN in row 2911759 : 0
 Total NaN in row 2911760 : 0
 Total NaN in row 2911761 : 0
 Total NaN in row 2911762 : 0
 Total NaN in row 2911763 : 0
 Total NaN in row 2911764 : 0
 Total NaN in row 2911765 : 0
 Total NaN in row 2911766 : 0
 Total NaN in row 2911767 : 0
 Total NaN in row 2911768 : 0
 Total NaN in row 2911769 : 0
 Total NaN in row 2911770 : 0
 Total NaN in row 2911771 : 0
 Total NaN in row 2911772 : 0
 Total NaN in row 2911773 : 0
 Total NaN in row 2911774 : 0
 Total NaN in row 2911775 : 0
 Total NaN in row 2911776 : 0
 Total NaN in row 2911777 : 0
 Total NaN in row 2911778 : 0
 Total NaN in row 2911779 : 0
 Total NaN in row 2911780 : 0
 Total NaN in row 2911781 : 0
 Total NaN in row 2911782 : 0
 Total NaN in row 2911783 : 0
 Total NaN in row 2911784 : 0
 Total NaN in row 2911785 : 0
 Total NaN in row 2911786 : 0
 Total NaN in row 2911787 : 0
 Total NaN in row 2911788 : 0
 Total NaN in row 2911789 : 0
 Total NaN in row 2911790 : 0
 Total NaN in row 2911791 : 0
 Total NaN in row 2911792 : 0
 Total NaN in row 2911793 : 0
 Total NaN in row 2911794 : 0
 Total NaN in row 2911795 : 0
 Total NaN in row 2911796 : 0
 Total NaN in row 2911797 : 0
 Total NaN in row 2911798 : 0
 Total NaN in row 2911799 : 0
 Total NaN in row 2911800 : 0
 Total NaN in row 2911801 : 0
 Total NaN in row 2911802 : 0
 Total NaN in row 2911803 : 0
 Total NaN in row 2911804 : 0
 Total NaN in row 2911805 : 0
 Total NaN in row 2911806 : 0
 Total NaN in row 2911807 : 0
 Total NaN in row 2911808 : 0
 Total NaN in row 2911809 : 0
 Total NaN in row 2911810 : 0
 Total NaN in row 2911811 : 0
 Total NaN in row 2911812 : 0
 Total NaN in row 2911813 : 0
 Total NaN in row 2911814 : 0
 Total NaN in row 2911815 : 0
 Total NaN in row 2911816 : 0
 Total NaN in row 2911817 : 0
 Total NaN in row 2911818 : 0
 Total NaN in row 2911819 : 0
 Total NaN in row 2911820 : 0
 Total NaN in row 2911821 : 0
 Total NaN in row 2911822 : 0
 Total NaN in row 2911823 : 0
 Total NaN in row 2911824 : 0
 Total NaN in row 2911825 : 0
 Total NaN in row 2911826 : 0
 Total NaN in row 2911827 : 0
 Total NaN in row 2911828 : 0
 Total NaN in row 2911829 : 0
 Total NaN in row 2911830 : 0
 Total NaN in row 2911831 : 0
 Total NaN in row 2911832 : 0
 Total NaN in row 2911833 : 0
 Total NaN in row 2911834 : 0
 Total NaN in row 2911835 : 0
 Total NaN in row 2911836 : 0
 Total NaN in row 2911837 : 0
 Total NaN in row 2911838 : 0
 Total NaN in row 2911839 : 0
 Total NaN in row 2911840 : 0
 Total NaN in row 2911841 : 0
 Total NaN in row 2911842 : 0
 Total NaN in row 2911843 : 0
 Total NaN in row 2911844 : 0
 Total NaN in row 2911845 : 0
 Total NaN in row 2911846 : 0
 Total NaN in row 2911847 : 0
 Total NaN in row 2911848 : 0
 Total NaN in row 2911849 : 0
 Total NaN in row 2911850 : 0
 Total NaN in row 2911851 : 0
 Total NaN in row 2911852 : 0
 Total NaN in row 2911853 : 0
 Total NaN in row 2911854 : 0
 Total NaN in row 2911855 : 0
 Total NaN in row 2911856 : 0
 Total NaN in row 2911857 : 0
 Total NaN in row 2911858 : 0
 Total NaN in row 2911859 : 0
 Total NaN in row 2911860 : 0
 Total NaN in row 2911861 : 0
 Total NaN in row 2911862 : 0
 Total NaN in row 2911863 : 0
 Total NaN in row 2911864 : 0
 Total NaN in row 2911865 : 0
 Total NaN in row 2911866 : 0
 Total NaN in row 2911867 : 0
 Total NaN in row 2911868 : 0
 Total NaN in row 2911869 : 0
 Total NaN in row 2911870 : 0
 Total NaN in row 2911871 : 0
 Total NaN in row 2911872 : 0
 Total NaN in row 2911873 : 0
 Total NaN in row 2911874 : 0
 Total NaN in row 2911875 : 0
 Total NaN in row 2911876 : 0
 Total NaN in row 2911877 : 0
 Total NaN in row 2911878 : 0
 Total NaN in row 2911879 : 0
 Total NaN in row 2911880 : 0
 Total NaN in row 2911881 : 0
 Total NaN in row 2911882 : 0
 Total NaN in row 2911883 : 0
 Total NaN in row 2911884 : 0
 Total NaN in row 2911885 : 0
 Total NaN in row 2911886 : 0
 Total NaN in row 2911887 : 0
 Total NaN in row 2911888 : 0
 Total NaN in row 2911889 : 0
 Total NaN in row 2911890 : 0
 Total NaN in row 2911891 : 0
 Total NaN in row 2911892 : 0
 Total NaN in row 2911893 : 0
 Total NaN in row 2911894 : 0
 Total NaN in row 2911895 : 0
 Total NaN in row 2911896 : 0
 Total NaN in row 2911897 : 0
 Total NaN in row 2911898 : 0
 Total NaN in row 2911899 : 0
 Total NaN in row 2911900 : 0
 Total NaN in row 2911901 : 0
 Total NaN in row 2911902 : 0
 Total NaN in row 2911903 : 0
 Total NaN in row 2911904 : 0
 Total NaN in row 2911905 : 0
 Total NaN in row 2911906 : 0
 Total NaN in row 2911907 : 0
 Total NaN in row 2911908 : 0
 Total NaN in row 2911909 : 0
 Total NaN in row 2911910 : 0
 Total NaN in row 2911911 : 0
 Total NaN in row 2911912 : 0
 Total NaN in row 2911913 : 0
 Total NaN in row 2911914 : 0
 Total NaN in row 2911915 : 0
 Total NaN in row 2911916 : 0
 Total NaN in row 2911917 : 0
 Total NaN in row 2911918 : 0
 Total NaN in row 2911919 : 0
 Total NaN in row 2911920 : 0
 Total NaN in row 2911921 : 0
 Total NaN in row 2911922 : 0
 Total NaN in row 2911923 : 0
 Total NaN in row 2911924 : 0
 Total NaN in row 2911925 : 0
 Total NaN in row 2911926 : 0
 Total NaN in row 2911927 : 0
 Total NaN in row 2911928 : 0
 Total NaN in row 2911929 : 0
 Total NaN in row 2911930 : 0
 Total NaN in row 2911931 : 0
 Total NaN in row 2911932 : 0
 Total NaN in row 2911933 : 0
 Total NaN in row 2911934 : 0
 Total NaN in row 2911935 : 0
 Total NaN in row 2911936 : 0
 Total NaN in row 2911937 : 0
 Total NaN in row 2911938 : 0
 Total NaN in row 2911939 : 0
 Total NaN in row 2911940 : 0
 Total NaN in row 2911941 : 0
 Total NaN in row 2911942 : 0
 Total NaN in row 2911943 : 0
 Total NaN in row 2911944 : 0
 Total NaN in row 2911945 : 0
 Total NaN in row 2911946 : 0
 Total NaN in row 2911947 : 0
 Total NaN in row 2911948 : 0
 Total NaN in row 2911949 : 0
 Total NaN in row 2911950 : 0
 Total NaN in row 2911951 : 0
 Total NaN in row 2911952 : 0
 Total NaN in row 2911953 : 0
 Total NaN in row 2911954 : 0
 Total NaN in row 2911955 : 0
 Total NaN in row 2911956 : 0
 Total NaN in row 2911957 : 0
 Total NaN in row 2911958 : 0
 Total NaN in row 2911959 : 0
 Total NaN in row 2911960 : 0
 Total NaN in row 2911961 : 0
 Total NaN in row 2911962 : 0
 Total NaN in row 2911963 : 0
 Total NaN in row 2911964 : 0
 Total NaN in row 2911965 : 0
 Total NaN in row 2911966 : 0
 Total NaN in row 2911967 : 0
 Total NaN in row 2911968 : 0
 Total NaN in row 2911969 : 0
 Total NaN in row 2911970 : 0
 Total NaN in row 2911971 : 0
 Total NaN in row 2911972 : 0
 Total NaN in row 2911973 : 0
 Total NaN in row 2911974 : 0
 Total NaN in row 2911975 : 0
 Total NaN in row 2911976 : 0
 Total NaN in row 2911977 : 0
 Total NaN in row 2911978 : 0
 Total NaN in row 2911979 : 0
 Total NaN in row 2911980 : 0
 Total NaN in row 2911981 : 0
 Total NaN in row 2911982 : 0
 Total NaN in row 2911983 : 0
 Total NaN in row 2911984 : 0
 Total NaN in row 2911985 : 0
 Total NaN in row 2911986 : 0
 Total NaN in row 2911987 : 0
 Total NaN in row 2911988 : 0
 Total NaN in row 2911989 : 0
 Total NaN in row 2911990 : 0
 Total NaN in row 2911991 : 0
 Total NaN in row 2911992 : 0
 Total NaN in row 2911993 : 0
 Total NaN in row 2911994 : 0
 Total NaN in row 2911995 : 0
 Total NaN in row 2911996 : 0
 Total NaN in row 2911997 : 0
 Total NaN in row 2911998 : 0
 Total NaN in row 2911999 : 0
 Total NaN in row 2912000 : 0
 Total NaN in row 2912001 : 0
 Total NaN in row 2912002 : 0
 Total NaN in row 2912003 : 0
 Total NaN in row 2912004 : 0
 Total NaN in row 2912005 : 0
 Total NaN in row 2912006 : 0
 Total NaN in row 2912007 : 0
 Total NaN in row 2912008 : 0
 Total NaN in row 2912009 : 0
 Total NaN in row 2912010 : 0
 Total NaN in row 2912011 : 0
 Total NaN in row 2912012 : 0
 Total NaN in row 2912013 : 0
 Total NaN in row 2912014 : 0
 Total NaN in row 2912015 : 0
 Total NaN in row 2912016 : 0
 Total NaN in row 2912017 : 0
 Total NaN in row 2912018 : 0
 Total NaN in row 2912019 : 0
 Total NaN in row 2912020 : 0
 Total NaN in row 2912021 : 0
 Total NaN in row 2912022 : 0
 Total NaN in row 2912023 : 0
 Total NaN in row 2912024 : 0
 Total NaN in row 2912025 : 0
 Total NaN in row 2912026 : 0
 Total NaN in row 2912027 : 0
 Total NaN in row 2912028 : 0
 Total NaN in row 2912029 : 0
 Total NaN in row 2912030 : 0
 Total NaN in row 2912031 : 0
 Total NaN in row 2912032 : 0
 Total NaN in row 2912033 : 0
 Total NaN in row 2912034 : 0
 Total NaN in row 2912035 : 0
 Total NaN in row 2912036 : 0
 Total NaN in row 2912037 : 0
 Total NaN in row 2912038 : 0
 Total NaN in row 2912039 : 0
 Total NaN in row 2912040 : 0
 Total NaN in row 2912041 : 0
 Total NaN in row 2912042 : 0
 Total NaN in row 2912043 : 0
 Total NaN in row 2912044 : 0
 Total NaN in row 2912045 : 0
 Total NaN in row 2912046 : 0
 Total NaN in row 2912047 : 0
 Total NaN in row 2912048 : 0
 Total NaN in row 2912049 : 0
 Total NaN in row 2912050 : 0
 Total NaN in row 2912051 : 0
 Total NaN in row 2912052 : 0
 Total NaN in row 2912053 : 0
 Total NaN in row 2912054 : 0
 Total NaN in row 2912055 : 0
 Total NaN in row 2912056 : 0
 Total NaN in row 2912057 : 0
 Total NaN in row 2912058 : 0
 Total NaN in row 2912059 : 0
 Total NaN in row 2912060 : 0
 Total NaN in row 2912061 : 0
 Total NaN in row 2912062 : 0
 Total NaN in row 2912063 : 0
 Total NaN in row 2912064 : 0
 Total NaN in row 2912065 : 0
 Total NaN in row 2912066 : 0
 Total NaN in row 2912067 : 0
 Total NaN in row 2912068 : 0
 Total NaN in row 2912069 : 0
 Total NaN in row 2912070 : 0
 Total NaN in row 2912071 : 0
 Total NaN in row 2912072 : 0
 Total NaN in row 2912073 : 0
 Total NaN in row 2912074 : 0
 Total NaN in row 2912075 : 0
 Total NaN in row 2912076 : 0
 Total NaN in row 2912077 : 0
 Total NaN in row 2912078 : 0
 Total NaN in row 2912079 : 0
 Total NaN in row 2912080 : 0
 Total NaN in row 2912081 : 0
 Total NaN in row 2912082 : 0
 Total NaN in row 2912083 : 0
 Total NaN in row 2912084 : 0
 Total NaN in row 2912085 : 0
 Total NaN in row 2912086 : 0
 Total NaN in row 2912087 : 0
 Total NaN in row 2912088 : 0
 Total NaN in row 2912089 : 0
 Total NaN in row 2912090 : 0
 Total NaN in row 2912091 : 0
 Total NaN in row 2912092 : 0
 Total NaN in row 2912093 : 0
 Total NaN in row 2912094 : 0
 Total NaN in row 2912095 : 0
 Total NaN in row 2912096 : 0
 Total NaN in row 2912097 : 0
 Total NaN in row 2912098 : 0
 Total NaN in row 2912099 : 0
 Total NaN in row 2912100 : 0
 Total NaN in row 2912101 : 0
 Total NaN in row 2912102 : 0
 Total NaN in row 2912103 : 0
 Total NaN in row 2912104 : 0
 Total NaN in row 2912105 : 0
 Total NaN in row 2912106 : 0
 Total NaN in row 2912107 : 0
 Total NaN in row 2912108 : 0
 Total NaN in row 2912109 : 0
 Total NaN in row 2912110 : 0
 Total NaN in row 2912111 : 0
 Total NaN in row 2912112 : 0
 Total NaN in row 2912113 : 0
 Total NaN in row 2912114 : 0
 Total NaN in row 2912115 : 0
 Total NaN in row 2912116 : 0
 Total NaN in row 2912117 : 0
 Total NaN in row 2912118 : 0
 Total NaN in row 2912119 : 0
 Total NaN in row 2912120 : 0
 Total NaN in row 2912121 : 0
 Total NaN in row 2912122 : 0
 Total NaN in row 2912123 : 0
 Total NaN in row 2912124 : 0
 Total NaN in row 2912125 : 0
 Total NaN in row 2912126 : 0
 Total NaN in row 2912127 : 0
 Total NaN in row 2912128 : 0
 Total NaN in row 2912129 : 0
 Total NaN in row 2912130 : 0
 Total NaN in row 2912131 : 0
 Total NaN in row 2912132 : 0
 Total NaN in row 2912133 : 0
 Total NaN in row 2912134 : 0
 Total NaN in row 2912135 : 0
 Total NaN in row 2912136 : 0
 Total NaN in row 2912137 : 0
 Total NaN in row 2912138 : 0
 Total NaN in row 2912139 : 0
 Total NaN in row 2912140 : 0
 Total NaN in row 2912141 : 0
 Total NaN in row 2912142 : 0
 Total NaN in row 2912143 : 0
 Total NaN in row 2912144 : 0
 Total NaN in row 2912145 : 0
 Total NaN in row 2912146 : 0
 Total NaN in row 2912147 : 0
 Total NaN in row 2912148 : 0
 Total NaN in row 2912149 : 0
 Total NaN in row 2912150 : 0
 Total NaN in row 2912151 : 0
 Total NaN in row 2912152 : 0
 Total NaN in row 2912153 : 0
 Total NaN in row 2912154 : 0
 Total NaN in row 2912155 : 0
 Total NaN in row 2912156 : 0
 Total NaN in row 2912157 : 0
 Total NaN in row 2912158 : 0
 Total NaN in row 2912159 : 0
 Total NaN in row 2912160 : 0
 Total NaN in row 2912161 : 0
 Total NaN in row 2912162 : 0
 Total NaN in row 2912163 : 0
 Total NaN in row 2912164 : 0
 Total NaN in row 2912165 : 0
 Total NaN in row 2912166 : 0
 Total NaN in row 2912167 : 0
 Total NaN in row 2912168 : 0
 Total NaN in row 2912169 : 0
 Total NaN in row 2912170 : 0
 Total NaN in row 2912171 : 0
 Total NaN in row 2912172 : 0
 Total NaN in row 2912173 : 0
 Total NaN in row 2912174 : 0
 Total NaN in row 2912175 : 0
 Total NaN in row 2912176 : 0
 Total NaN in row 2912177 : 0
 Total NaN in row 2912178 : 0
 Total NaN in row 2912179 : 0
 Total NaN in row 2912180 : 0
 Total NaN in row 2912181 : 0
 Total NaN in row 2912182 : 0
 Total NaN in row 2912183 : 0
 Total NaN in row 2912184 : 0
 Total NaN in row 2912185 : 0
 Total NaN in row 2912186 : 0
 Total NaN in row 2912187 : 0
 Total NaN in row 2912188 : 0
 Total NaN in row 2912189 : 0
 Total NaN in row 2912190 : 0
 Total NaN in row 2912191 : 0
 Total NaN in row 2912192 : 0
 Total NaN in row 2912193 : 0
 Total NaN in row 2912194 : 0
 Total NaN in row 2912195 : 0
 Total NaN in row 2912196 : 0
 Total NaN in row 2912197 : 0
 Total NaN in row 2912198 : 0
 Total NaN in row 2912199 : 0
 Total NaN in row 2912200 : 0
 Total NaN in row 2912201 : 0
 Total NaN in row 2912202 : 0
 Total NaN in row 2912203 : 0
 Total NaN in row 2912204 : 0
 Total NaN in row 2912205 : 0
 Total NaN in row 2912206 : 0
 Total NaN in row 2912207 : 0
 Total NaN in row 2912208 : 0
 Total NaN in row 2912209 : 0
 Total NaN in row 2912210 : 0
 Total NaN in row 2912211 : 0
 Total NaN in row 2912212 : 0
 Total NaN in row 2912213 : 0
 Total NaN in row 2912214 : 0
 Total NaN in row 2912215 : 0
 Total NaN in row 2912216 : 0
 Total NaN in row 2912217 : 0
 Total NaN in row 2912218 : 0
 Total NaN in row 2912219 : 0
 Total NaN in row 2912220 : 0
 Total NaN in row 2912221 : 0
 Total NaN in row 2912222 : 0
 Total NaN in row 2912223 : 0
 Total NaN in row 2912224 : 0
 Total NaN in row 2912225 : 0
 Total NaN in row 2912226 : 0
 Total NaN in row 2912227 : 0
 Total NaN in row 2912228 : 0
 Total NaN in row 2912229 : 0
 Total NaN in row 2912230 : 0
 Total NaN in row 2912231 : 0
 Total NaN in row 2912232 : 0
 Total NaN in row 2912233 : 0
 Total NaN in row 2912234 : 0
 Total NaN in row 2912235 : 0
 Total NaN in row 2912236 : 0
 Total NaN in row 2912237 : 0
 Total NaN in row 2912238 : 0
 Total NaN in row 2912239 : 0
 Total NaN in row 2912240 : 0
 Total NaN in row 2912241 : 0
 Total NaN in row 2912242 : 0
 Total NaN in row 2912243 : 0
 Total NaN in row 2912244 : 0
 Total NaN in row 2912245 : 0
 Total NaN in row 2912246 : 0
 Total NaN in row 2912247 : 0
 Total NaN in row 2912248 : 0
 Total NaN in row 2912249 : 0
 Total NaN in row 2912250 : 0
 Total NaN in row 2912251 : 0
 Total NaN in row 2912252 : 0
 Total NaN in row 2912253 : 0
 Total NaN in row 2912254 : 0
 Total NaN in row 2912255 : 0
 Total NaN in row 2912256 : 0
 Total NaN in row 2912257 : 0
 Total NaN in row 2912258 : 0
 Total NaN in row 2912259 : 0
 Total NaN in row 2912260 : 0
 Total NaN in row 2912261 : 0
 Total NaN in row 2912262 : 0
 Total NaN in row 2912263 : 0
 Total NaN in row 2912264 : 0
 Total NaN in row 2912265 : 0
 Total NaN in row 2912266 : 0
 Total NaN in row 2912267 : 0
 Total NaN in row 2912268 : 0
 Total NaN in row 2912269 : 0
 Total NaN in row 2912270 : 0
 Total NaN in row 2912271 : 0
 Total NaN in row 2912272 : 0
 Total NaN in row 2912273 : 0
 Total NaN in row 2912274 : 0
 Total NaN in row 2912275 : 0
 Total NaN in row 2912276 : 0
 Total NaN in row 2912277 : 0
 Total NaN in row 2912278 : 0
 Total NaN in row 2912279 : 0
 Total NaN in row 2912280 : 0
 Total NaN in row 2912281 : 0
 Total NaN in row 2912282 : 0
 Total NaN in row 2912283 : 0
 Total NaN in row 2912284 : 0
 Total NaN in row 2912285 : 0
 Total NaN in row 2912286 : 0
 Total NaN in row 2912287 : 0
 Total NaN in row 2912288 : 0
 Total NaN in row 2912289 : 0
 Total NaN in row 2912290 : 0
 Total NaN in row 2912291 : 0
 Total NaN in row 2912292 : 0
 Total NaN in row 2912293 : 0
 Total NaN in row 2912294 : 0
 Total NaN in row 2912295 : 0
 Total NaN in row 2912296 : 0
 Total NaN in row 2912297 : 0
 Total NaN in row 2912298 : 0
 Total NaN in row 2912299 : 0
 Total NaN in row 2912300 : 0
 Total NaN in row 2912301 : 0
 Total NaN in row 2912302 : 0
 Total NaN in row 2912303 : 0
 Total NaN in row 2912304 : 0
 Total NaN in row 2912305 : 0
 Total NaN in row 2912306 : 0
 Total NaN in row 2912307 : 0
 Total NaN in row 2912308 : 0
 Total NaN in row 2912309 : 0
 Total NaN in row 2912310 : 0
 Total NaN in row 2912311 : 0
 Total NaN in row 2912312 : 0
 Total NaN in row 2912313 : 0
 Total NaN in row 2912314 : 0
 Total NaN in row 2912315 : 0
 Total NaN in row 2912316 : 0
 Total NaN in row 2912317 : 0
 Total NaN in row 2912318 : 0
 Total NaN in row 2912319 : 0
 Total NaN in row 2912320 : 0
 Total NaN in row 2912321 : 0
 Total NaN in row 2912322 : 0
 Total NaN in row 2912323 : 0
 Total NaN in row 2912324 : 0
 Total NaN in row 2912325 : 0
 Total NaN in row 2912326 : 0
 Total NaN in row 2912327 : 0
 Total NaN in row 2912328 : 0
 Total NaN in row 2912329 : 0
 Total NaN in row 2912330 : 0
 Total NaN in row 2912331 : 0
 Total NaN in row 2912332 : 0
 Total NaN in row 2912333 : 0
 Total NaN in row 2912334 : 0
 Total NaN in row 2912335 : 0
 Total NaN in row 2912336 : 0
 Total NaN in row 2912337 : 0
 Total NaN in row 2912338 : 0
 Total NaN in row 2912339 : 0
 Total NaN in row 2912340 : 0
 Total NaN in row 2912341 : 0
 Total NaN in row 2912342 : 0
 Total NaN in row 2912343 : 0
 Total NaN in row 2912344 : 0
 Total NaN in row 2912345 : 0
 Total NaN in row 2912346 : 0
 Total NaN in row 2912347 : 0
 Total NaN in row 2912348 : 0
 Total NaN in row 2912349 : 0
 Total NaN in row 2912350 : 0
 Total NaN in row 2912351 : 0
 Total NaN in row 2912352 : 0
 Total NaN in row 2912353 : 0
 Total NaN in row 2912354 : 0
 Total NaN in row 2912355 : 0
 Total NaN in row 2912356 : 0
 Total NaN in row 2912357 : 0
 Total NaN in row 2912358 : 0
 Total NaN in row 2912359 : 0
 Total NaN in row 2912360 : 0
 Total NaN in row 2912361 : 0

In [ ]:
BH.drop(columns=["address","year","day"])

,length,weight,count,looped,neighbors,income,label
0,18,0.008333,1,0,2,1.000500e+08,princetonCerber
1,44,0.000244,1,0,1,1.000000e+08,princetonLocky
2,0,1.000000,1,0,2,2.000000e+08,princetonCerber
3,72,0.003906,1,0,2,7.120000e+07,princetonCerber
4,144,0.072848,456,0,1,2.000000e+08,princetonLocky
...,...,...,...,...,...,...,...
2916692,0,0.111111,1,0,1,1.255809e+09,white
2916693,0,1.000000,1,0,1,4.409699e+07,white
2916694,2,12.000000,6,6,35,2.398267e+09,white
2916695,0,0.500000,1,0,1,1.780427e+08,white
2916696,144,0.073972,6800,0,2,1.123500e+08,white

In [ ]:
#Categorical data (binar)
BH["mlabel"]="ransomware"
BH["mlabel"][BH["label"]=="white"]="legitime"
gb=BH.groupby("mlabel")
gb.count()

#dropping label
BH=BH.drop(columns=["label","address","year","day"])
gb=BH.groupby("mlabel")
gb.count()
BH.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   length        weight  count  looped  neighbors       income      mlabel
0      18  8.333333e-03      1       0          2  100050000.0  ransomware
1      44  2.441406e-04      1       0          1  100000000.0  ransomware
2       0  1.000000e+00      1       0          2  200000000.0  ransomware
3      72  3.906250e-03      1       0          2   71200000.0  ransomware
4     144  7.284841e-02    456       0          1  200000000.0  ransomware
5     144  8.461400e-02   2821       0          1   50000000.0  ransomware
6     142  2.088519e-03    881       0          2  100000000.0  ransomware
7      78  3.906250e-03      1       0          2  100990000.0  ransomware
8     144  2.302828e+00   4220       0          2   80000000.0  ransomware
9     112  3.725290e-09      1       0          1   50000000.0  ransomware

In [ ]:
#getting all ransomware
heist_df1=BH.loc[BH['mlabel']=="ransomware"]
#getting all légitime
heist_df2=BH.loc[BH['mlabel']=="legitime"]
#randomly select 158587 instance
heist_df2=heist_df2.sample(n=158587,replace=True)
heist_df=heist_df1.append(heist_df2)
#mixing the order of columns such that the légitime and ransomware are randomly distributed
heist_df=heist_df.sample(n=200000,replace=True)
#reindex the dataframe
heist_df.reset_index(drop=True,inplace=True)
print(heist_df.shape)
heist_df.head(10)

(200000, 7)

   length    weight  count  looped  neighbors        income      mlabel
0       2  0.064516     18       0          1  2.107915e+08    legitime
1     144  0.045833   5481       0          2  3.254938e+08    legitime
2      10  0.250000      1       0          1  2.500000e+08  ransomware
3       6  0.041667      1       0          2  7.619213e+09    legitime
4      54  0.087333    129       0          2  5.562000e+08    legitime
5     144  0.165252   5653       0          2  8.700400e+07    legitime
6     144  0.118611   1207       0          2  7.527951e+08    legitime
7      18  0.050005      3       0          1  8.000000e+07    legitime
8      12  0.015625      1       0          1  1.999900e+08  ransomware
9       8  0.375000      3       0          1  3.180000e+08  ransomware

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
heist_df=heist_df.drop(columns=["mlabel"])
scaled_data=scaler.fit_transform(heist_df)
scaled_data

array([[-7.17608638e-01, -2.42060590e-01, -4.15074624e-01,
        -2.34838864e-01, -1.28374151e-01, -2.02981624e-02],
       [ 1.68944503e+00, -2.51334034e-01,  2.91684560e+00,
        -2.34838864e-01, -1.27764373e-02, -1.97190432e-02],
       [-5.81999981e-01, -1.49993296e-01, -4.25443038e-01,
        -2.34838864e-01, -1.28374151e-01, -2.01002029e-02],
       ...,
       [ 1.68944503e+00,  2.34681907e+00,  3.59628165e+00,
         7.04516084e+00,  6.80809847e-01, -3.49844713e-03],
       [ 1.97749799e-01, -2.49263963e-01, -4.24833131e-01,
        -2.34838864e-01, -1.28374151e-01, -2.11352245e-02],
       [-7.17608638e-01, -1.81015971e-01, -4.24833131e-01,
        -2.34838864e-01, -1.27764373e-02, -2.11806645e-02]])

In [ ]:
#imorting sampler
from imblearn.under_sampling import RandomUnderSampler
# define undersample strategy
undersample = RandomUnderSampler(sampling_strategy='majority')
y=BH.mlabel
BH=BH.drop(columns="mlabel")
#fitting the sampler
X_over, y_over = undersample.fit_resample(BH, y)
#transforming X_over et y_over to pandas dataframe
xx=pd.DataFrame(X_over)
yy=pd.DataFrame(y)

AttributeError: ignored

In [ ]:
print(xx.shape)

In [ ]:
#importing libraries
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
#fitting transformation
heist_df['mlabel']= label_encoder.fit_transform(heist_df['mlabel']) 

print(heist_df.shape)
heist_df

KeyError: ignored

In [ ]:
#importing library from sklearn
from sklearn.ensemble import IsolationForest
#creating the model
model=IsolationForest(n_estimators=50, max_samples='auto',
contamination=float(0.1),max_features=1.0)
model.fit(heist_df[['looped']])

In [ ]:
heist_df['scores']=model.decision_function(heist_df[['looped']])
heist_df['anomaly']=model.predict(heist_df[['looped']])
heist_df.head(20)

In [ ]:
anomaly=heist_df.loc[heist_df['anomaly']==-1]
anomaly_index=list(anomaly.index)
print(anomaly)

In [ ]:

import matplotlib.pyplot as plt

fig, axes= plt.subplots(2, 3, figsize=(16, 5))
ax1,ax2,ax3,ax4,ax5,ax6= axes.flatten()
ax1.hist(heist_df['length'], bins=100)
ax1.set_title("length distribution")
ax2.hist(heist_df['weight'], bins=100)
ax2.set_title("weight distribution")
ax3.hist(heist_df['count1'], bins=100)
ax3.set_title("count distribution")
ax4.hist(heist_df['looped'], bins=100)
ax4.set_title("looped distribution")
ax5.hist(heist_df['neighbors'], bins=100)
ax5.set_title("neighboors distribution")
ax6.hist(heist_df['income'], bins=100)
ax6.set_title("income distribution")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.hist(heist_df.income, bins=20, rwidth=0.8)
plt.ylabel('income')

In [ ]:
plt.hist(heist_df.neighbors, bins=20, rwidth=0.8)
plt.ylabel('neighbours')

In [ ]:
plt.hist(heist_df.length, bins=20, rwidth=0.8)
plt.ylabel('length')

In [ ]:
plt.hist(heist_df.weight, bins=20, rwidth=0.8)
plt.ylabel('weight')

In [ ]:
plt.hist(heist_df.looped, bins=20, rwidth=0.8)
plt.ylabel('looped')

In [ ]:
heist_df=heist_df.rename(columns={"count": "count1"})

In [ ]:
plt.hist(heist_df.count1, bins=20, rwidth=0.8)
plt.ylabel('count1')

In [ ]:
# Correlation matrix
def plotCorrelationMatrix(df, graphWidth):
    
    
    if df.shape[1] < 2:
        print(f'No correlation plots shown: The number of non-NaN or constant columns ({df.shape[1]}) is less than 2')
        return
    corr = df.corr()
    plt.figure(num=None, figsize=(graphWidth, graphWidth), dpi=80, facecolor='w', edgecolor='k')
    corrMat = plt.matshow(corr, fignum = 1)
    plt.xticks(range(len(corr.columns)), corr.columns, rotation=90)
    plt.yticks(range(len(corr.columns)), corr.columns)
    plt.gca().xaxis.tick_bottom()
    plt.colorbar(corrMat)
    plt.title(f'Correlation Matrix for df', fontsize=15)
    plt.show()

In [ ]:
import matplotlib.pyplot as plt
plotCorrelationMatrix(heist_df,8)

In [ ]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import numpy as np
def detect_outliers(data):
    outliers=[]
    threshold=3
    mean = np.mean(data)
    std =np.std(data)
    
    for i in data:
        z_score= (i - mean)/std 
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [ ]:
outliers=detect_outliers(heist_df["income"])
print(len(outliers))

In [ ]:
heist_df['zscore'] = ( heist_df.income- heist_df.income.mean() ) / heist_df.income.std()
h=heist_df[(heist_df.zscore>-3) & (heist_df.zscore<3)]
print(h.shape)
h.head()

In [ ]:
h['zscore'] = ( h.weight- h.weight.mean() ) / h.weight.std()
h2=h[(h.zscore>-3) & (h.zscore<3)]
print(h2.shape)
h2.head()

In [ ]:
h2['zscore'] = ( h2.neighbors- h2.neighbors.mean() ) / h2.neighbors.std()
h3=h2[(h2.zscore>-3) & (h2.zscore<3)]
print(h3.shape)
h3.head()

In [ ]:
h3['zscore'] = ( h3.length- h3.length.mean() ) / h3.length.std()
h4=h3[(h3.zscore>-3) & (h3.zscore<3)]
print(h4.shape)
h4.head()

In [ ]:
h4['zscore'] = ( h4.looped- h4.looped.mean() ) / h4.looped.std()
h5=h4[(h4.zscore>-3) & (h4.zscore<3)]
print(h5.shape)
h5.head()
h5=h5.rename(columns={"count":"count1"})

In [ ]:
h5['zscore'] = ( h5.count1- h5.count1.mean() ) / h5.count1.std()
h6=h5[(h5.zscore>-3) & (h5.zscore<3)]
print(h6.shape)
h6=h6.drop('zscore',axis=1)
h6.head()

In [ ]:
#importing libraries
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
#fitting transformation
h6['mlabel']= label_encoder.fit_transform(h6['mlabel']) 

print(h6.shape)

In [ ]:
h6

In [ ]:
corr_matrix=h6.corr()
corr_matrix["mlabel"].sort_values(ascending=False)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
bh=h6.drop('address',axis=1)
bh=bh.drop('year',axis=1)
bh=bh.drop('day',axis=1)
bh=bh.drop('mlabel',axis=1)
scaled_data=scaler.fit_transform(bh)
scaled_data

In [ ]:
from sklearn.decomposition import PCA
model=PCA(n_components=2)
x=model.fit_transform(scaled_data)
plt.scatter(x[:,0],x[:,1])

In [ ]:
model.components_

In [ ]:
import numpy as np
from sklearn.decomposition import PCA
model=PCA(n_components=6)
x=model.fit_transform(scaled_data)
model.explained_variance_ratio_

In [ ]:
np.cumsum(model.explained_variance_ratio_)

In [ ]:
plt.plot(np.cumsum(model.explained_variance_ratio_))

In [ ]:
np.argmax(np.cumsum(model.explained_variance_ratio_)>0.99)

In [ ]:
y=h6.mlabel



h6.head()

In [ ]:

from sklearn.model_selection import train_test_split
y=h6.mlabel
X=h6.drop(columns="mlabel")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train[1]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import randint as sp_randint
from random import randrange as sp_randrange
from sklearn.model_selection import RandomizedSearchCV
# Define the hyperparameter configuration space
rf_params = {
    'n_estimators': sp_randint(10,100),
    "max_features":sp_randint(1,64),
    'max_depth': sp_randint(5,50),
    "min_samples_split":sp_randint(2,11),
    "min_samples_leaf":sp_randint(1,11),
    "criterion":['gini','entropy']
}
n_iter_search=20 #number of iterations is set to 20, you can increase this number if time permits
clf = RandomForestClassifier(random_state=0)
Random = RandomizedSearchCV(clf, param_distributions=rf_params,n_iter=n_iter_search,cv=3,scoring='accuracy')
Random.fit(X_train, y_train)
print(Random.best_params_)
print("Accuracy:"+ str(Random.best_score_))

In [ ]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#prediction 
y_pred=logreg.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)
print(report)

In [ ]:
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(y_test,y_pred)
print(matrix)

In [ ]:
# import required modules
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
class_names=["ligitime","ransomware"] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(matrix), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("recall_specificity",metrics.recall_score(y_test,y_pred, pos_label=0))
print("Recall:",metrics.recall_score(y_test, y_pred))

In [ ]:
logreg.score(X_test,y_test)

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)
print(report)

In [ ]:
from sklearn.metrics import confusion_matrix
matrix1 = confusion_matrix(y_test,y_pred)
print(matrix1)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("recall_specificity",metrics.recall_score(y_test,y_pred, pos_label=0))
print("Recall:",metrics.recall_score(y_test, y_pred))

In [ ]:
# import required modules
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
class_names=["ligitime","ransomware"] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(matrix1), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# import the metrics class
from sklearn import metrics
cnf_matrix1= metrics.confusion_matrix(y_test, y_pred)
cnf_matrix1

In [ ]:
#Finding Important Features in Scikit-learn
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

In [ ]:
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_,index=h6.columns).sort_values(ascending=False)
feature_imp

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# Creating a bar plot
sns.barplot(x=feature_imp, y=feature_imp.index)
# Add labels to your graph
plt.xlabel('Feature Importance Score')
plt.ylabel('Features')
plt.title("Visualizing Important Features")
plt.legend()
plt.show()

In [ ]:
# importing xgboost
from xgboost import XGBClassifier

# creating the model
model = XGBClassifier()

# fitting the model
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)
print(report)

In [ ]:
from sklearn.metrics import confusion_matrix
matrix1 = confusion_matrix(y_test,y_pred)
print(matrix1)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("recall_specificity",metrics.recall_score(y_test,y_pred, pos_label=0))
print("Recall:",metrics.recall_score(y_test, y_pred))

In [ ]:
# import required modules
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
class_names=["ligitime","ransomware"] # name  of classes
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)
# create heatmap
sns.heatmap(pd.DataFrame(matrix1), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')

In [ ]:

# make predictions for test data
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
import numpy as np
# import the metrics class
from sklearn.metrics import classification_report,accuracy_score
def performance_report (model,X_validation,y_validation):
  y_pred=model.predict(X_validation)
  

  accuracy=accuracy_score(y_validation,y_pred)
  target_names=['Negative','Positive']
  performance_report=classification_report(y_validation,y_pred,target_names,output_dict=True)
  print("\n")
  print(conf_matrix)
  print("\n")
  print(classification_report(y_validation,y_pred,target_names=target_names))
  return (y_pred,conf_matrix,accuracy,performance_report)

In [ ]:
performance_report(logreg,X_test,y_test)